<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>

<script>
  /**
            @polymerBehavior LocalStorageCacheBehavior
          */
  LocalStorageCacheBehavior = {
    properties: {
      refreshRate: {
        readOnly: true,
        type: Number,
        value: 24
      }
    },

    getCachedData: function (key) {
      if (this.isExpired(key)) return null;
      let cachedJson = localStorage.getItem(key);
      if (!cachedJson) {
        console.error("No element found for key ".concat(key));
        return;
      }

      return JSON.parse(cachedJson);
    },

    cacheData: function (key, json, stripJson) {
      if (!key) {
        console.error("No key provided");
        return;
      }
      if (!json) {
        console.error("No json provided");
        return;
      }
      if (stripJson) {
        json = this._stripJSON(json);
      }

      json.dateFetched = new moment();
      localStorage.setItem(key, JSON.stringify(json));
      return json;
    },

    isExpired: function (key) {
      let storedJson = localStorage.getItem(key);

      if (!storedJson) return true;

      storedJson = JSON.parse(storedJson);

      if (new moment().diff(new moment(storedJson.dateFetched), 'hours') > this.refreshRate) return true;

      return false;
    },

    _stripJSON: function (json) {
      let stripped = {};
      stripped.author = json.rss.channel.author.__text;
      stripped.description = json.rss.channel.description;
      stripped.title = json.rss.channel.title;
      stripped.image = this._getImage(json.rss.channel.image);
      stripped.items = this._getItems(json.rss.channel.item);
      return stripped;
    },

    _getImage: function (imageArray) {
      if (!imageArray) return "";

      if (!(imageArray instanceof Array)) {
        if (!imageArray.url) {
          return imageArray._href;
        }
        return imageArray.url;
      }

      let filtered = imageArray.filter(function (item) {
        return item.url != null
      });
      return filtered[0].url;
    },

    _getItems: function (items) {
      let array = []
      let result = [];
      if (!(items instanceof Array)) {
        array[0] = items;
      } else {
        array = items;
      }

      for (index in array) {
        result[index] = {};
        result[index].description = array[index].description;
        if (array[index].duration) {
          result[index].duration = array[index].duration.__text;
        } else {
          result[index].duration = "";
        }

        if (array[index].enclosure) {
          result[index].url = array[index].enclosure._url;
        } else {
          result[index].url = "";
        }
        result[index].pubDate = array[index].pubDate;
        result[index].title = array[index].title;

      }

      return result;
    }
  }
</script>