<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../localstorage-cache-behavior/localstorage-cache-behavior.html">
<script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>

<dom-module id="main-view">
  <template>
    <style>
       :host {
        display: block;
      }

      img {
        border-radius: 50%;
      }

      .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }

      .child {
        flex: 1 0 20%;
        margin-bottom: 2vh;
        margin-left: 1vh;
        margin-right: 1vh;
        box-shadow: 2px 2px 2px #AAAAAA;
        border-radius: 2%;
        border: 1px solid #AAAAAA;
        padding-top: 5px;
        padding-bottom: 5px;
        /*background-color: blue;*/
      }

      .child:hover {
        background-color: #EEEEEE;
      }

      div>.child {
        text-align: center;
        display: block;
      }

      a:visited,
      a:link,
      a:active {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: #333333;
      }

      paper-input {
        min-width: 20vh;
        max-width: 20vh;
        margin-left: auto;
      }
    </style>

    <iron-ajax id="getPodcasts" url="https://itunes.apple.com/us/rss/toppodcasts/limit=100/genre=1310/json" handle-as="json"
      last-response="{{podcasts}}" on-response="_cacheData" loading="{{_loading}}" headers="{{_headers}}"></iron-ajax>
    <paper-input id="filterPodcasts" placeholder="Filter podcasts" value="{{searchString::input}}"></paper-input>


    <div class="container">
      <template is="dom-repeat" items="{{podcasts.feed.entry}}" filter="{{_computeFilter(searchString)}}" as="podcast">
        <div class="child">
          <a href="/podcast/[[_getId(podcast.id.attributes)]]">
            <div><img src="[[_getImage(podcast)]]" /></div>
            <div><strong>[[podcast.title.label]]</strong></div>
            <div><small>Author: [[_getAuthorLabel(podcast)]]</small></div>
          </a>
        </div>

      </template>
    </div>

  </template>

  <script>
    Polymer({

      is: 'main-view',
      behaviors: [LocalStorageCacheBehavior],
      observers: ['_loadingChanged(_loading)'],
      properties: {
        podcasts: {
          type: Object,
          value: null
        },
        route: Object,
        cachingKey: {
          type: String,
          value: 'org.inditex.ragudosa.podcasts'
        },
        loading: {
          type: Boolean,
          notify: true,
          readOnly: true
        },
        _loading: {
          type: Boolean
        },
        _headers:{
          type: Object,
          // value: {"cache-control": "max-age=60"}
        }
      },

      ready: function () {
        if (!this.isExpired(this.cachingKey)) {
          this.set('podcasts', this.getCachedData(this.cachingKey));
        } else {
          this.$.getPodcasts.generateRequest();
        }
      },

      _showPodcasts: function (podcasts) {
        return JSON.stringify(podcasts);
      },

      _computeFilter: function (string) {
        if (!string) {
          // set filter to null to disable filtering
          return null;
        } else {
          // return a filter function for the current search string
          string = string.toLowerCase();
          return function (podcast) {
            var title = podcast.title.label.toLowerCase();
            var author = podcast["im:artist"].label.toLowerCase();

            return (title.indexOf(string) != -1 ||
              author.indexOf(string) != -1);
          };
        }
      },

      _getImage: function (podcast) {
        if (!podcast) return "";
        return podcast['im:image'][1].label;
      },

      _cacheData: function (event) {
        this.cacheData(this.cachingKey, event.detail.response);
      },

      _getId: function (idAttributes) {
        return idAttributes['im:id'];
      },

      _getAuthorLabel: function (podcast) {
        return podcast['im:artist'].label;
      },

      _loadingChanged:function(loading) {
        this._setLoading(loading);
      }

    });
  </script>
</dom-module>