<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="podcast-episode-details.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../localstorage-cache-behavior/localstorage-cache-behavior.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<script src="../../bower_components/abdmob/x2js/xml2json.min.js"></script>
<script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>

<dom-module id="podcast-details">
  <template>
    <style>
       :host {
        display: block;
      }

      .container {
        display: flex;
        align-items: flex-start;
      }

      .sidepanel {
        flex: 1 1 25%;
        flex-basis: content;
        margin-right: 2vw;
      }

      .sidepanel,
      h1,
      table {
        padding: 20px 20px 20px 20px;
        box-shadow: 1px 1px 1px #AAAAAA;
        border-radius: 6px;
        border: 1px solid #AAAAAA;
      }

      .content {
        flex: 1 0 70%;
        margin-left: 2vw;
      }

      h1 {
        margin-top: 0 !important;
      }

      table {
        min-width: 100%;
      }

      th {
        text-align: left !important;
      }

      tr:nth-child(even) {
        background: #f3f3f3;
      }

      tr {
        line-height: 50px;
      }

      td,
      th {
        padding-left: 10px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 150px;
      }

      .sidepanel>a,
      a:visited,
      a:link,
      a:active {
        text-decoration: none;
        color: black;
      }
    </style>

    <iron-ajax id="getPodcastItunes" url="https://itunes.apple.com/lookup" handle-as="json" params="{{_computeParams(routeData.id)}}"
      on-response="_getRealPodcastInfo"></iron-ajax>

    <iron-ajax id="getRealPodcast" url="[[_computeRealPodcastUrl(podcastItunes)]]" handle-as="text" on-response="_parseResponse"
      loading="{{_loading}}" headers='{{_headers}}'></iron-ajax>

    <app-route route="[[route]]" pattern="/:id" data="{{routeData}}"></app-route>
    <app-route route="[[route]]" pattern="/:id/episode/:episodeId" data="{{routeData}}" active="{{_showEpisodes}}"></app-route>

    <template is="dom-if" if="[[!_loading]]">

      <div class="container">
        <div class="sidepanel">
          <div><a href="[[route.prefix]]/[[routeData.id]]"><img src="[[podcast.image]]" /></a></div>
          <hr>
          <div><a href="[[route.prefix]]/[[routeData.id]]"><strong>[[podcast.title]]</strong></a></div>
          <em>by <a href="[[route.prefix]]/[[routeData.id]]">[[podcast.author]]</a> </em>
          <hr>
          <div><strong>Description:</strong></div>
          <p>
            <em><template is="juicy-html" content$="[[podcast.description]]"></template></em>
          </p>
        </div>

        <div class="content">
          <template is="dom-if" if="{{!_showEpisodes}}">

            <h1>Episodes: [[_getNumberOfEpisodes(podcast.items)]]</h1>

            <table>
              <thead>
                <th>Title</th>
                <th>Duration</th>
                <th>Pub. Date</th>
              </thead>
              <tbody>
                <template is="dom-repeat" items="[[podcast.items]]" as="details">
                  <tr>
                    <td><a href="[[route.prefix]][[route.path]]/episode/[[index]]">[[details.title]]</a></td>
                    <td>[[details.duration]]</td>
                    <td>[[_formatDate(details.pubDate)]]</td>
                  </tr>
                </template>
              </tbody>
          </template>

          <template is="dom-if" if="{{_showEpisodes}}" restamp>
            <podcast-episode-details podcast="[[podcast]]" id="{{routeData.episodeId}}"></podcast-episode-details>
          </template>
        </div>
      </div>
    </template>

  </template>

  <script>
    Polymer({

      is: 'podcast-details',
      behaviors: [LocalStorageCacheBehavior],
      observers: ['_idChanged(routeData.id)', '_loadingChanged(_loading)'],
      properties: {
        podcastItunes: {
          type: Object,
          value: null
        },
        podcast: {
          type: Object,
          value: null
        },
        route: Object,
        crossoriginurl: {
          readOnly: true,
          value: "https://cors-anywhere.herokuapp.com/"
        },
        cachingKeyPrefix: {
          type: String,
          readOnly: true,
          value: 'org.inditex.ragudosa.podcastDetails'
        },
        cachingKey: {
          type: String,
          computed: '_computeKey(routeData.id, cachingKeyPrefix)'
        },
        loading: {
          type: Boolean,
          notify: true,
          readOnly: true
        },
        _loading: {
          type: Boolean,
          value: false
        },
        _showEpisodes: {
          type: Boolean
        },
        routeData: Object,
        _loadedId: Number,
        _headers: {
          type: Object,
          value: { "accept": "application/xml", "content-type":"application/xml;charset=UTF-8" }
        }

      },

      _computeParams: function (id) {
        return {
          "id": id
        };
      },

      _computeRealPodcastUrl: function (podcastItunes) {
        if (!podcastItunes) return;
        return this.crossoriginurl.concat(podcastItunes.results[0].feedUrl);
      },

      _parseResponse: function (event, detail) {
        let json = new X2JS().xml_str2json(detail.response);
        json = this.cacheData(this.cachingKey, json, true);
        this.set('podcast', json);
      },

      _computeKey: function (id, cachingKeyPrefix) {
        return cachingKeyPrefix.concat(".").concat(id);
      },

      _idChanged: function (id) {
        if(!id) return;
        if(id === this._loadedId) return;
        this.set('_loadedId', id);
        this._loadData();
      },

      _getRealPodcastInfo: function (event, detail) {
        this.set('podcastItunes', detail.response);
        this.$.getRealPodcast.generateRequest();
      },

      _loadData: function () {
        if (!this.isExpired(this.cachingKey)) {
          this.set('podcast', this.getCachedData(this.cachingKey));
        } else {
          this.$.getPodcastItunes.generateRequest();
        }
      },
      _getNumberOfEpisodes: function (podcastEpisodeArray) {
        if (!podcastEpisodeArray) return 0;
        return podcastEpisodeArray.length;
      },

      _formatDate: function (date) {
        return new moment(date).format("L");
      },

      _loadingChanged: function (loading) {
        this._setLoading(loading);
      }

    });
  </script>
</dom-module>