<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<dom-module id="podcast-episode-details">
  <template>
    <style>
       :host {
        display: block;
        box-shadow: 1px 1px 1px #AAAAAA;
        border-radius: 6px;
        border: 1px solid #AAAAAA;
        padding: 20px 20px 20px 20px;
      }
      audio {
        min-width: 100%;
      }
    </style>

    <h1>[[_podcastEpisode.title]]</h1>
    <p>
      <template is="juicy-html" content$="[[_podcastEpisode.description]]"></template>
    </p>
    
    <audio controls src="[[_podcastEpisode.url]]"></audio>


  </template>

  <script>
    Polymer({

      is: 'podcast-episode-details',
      properties: {
        id: Number,
        podcast: {
          type: Object
        },
        _podcastEpisode: {
          type: Object,
          computed: '_getPodcastEpisode(id, podcast)'
        },
        route: Object,
        routeData: Object
      },

      _getPodcastEpisode: function (index, podcast) {
        if (!index) return;
        if (!podcast) return;

        return podcast.items[index];
      }
    });
  </script>
</dom-module>