<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="main-view.html">
<link rel="import" href="podcast-details.html">

<dom-module id="podcast-inditex-app">
  <template>
    <style>
       :host {
        display: block;
        margin-left: 10vw;
        margin-right: 10vw;
      }

      img {
        float: right;
        max-width: 15px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <!-- this app-route manages the top-level routes -->
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <header>
      <h2>
        <a href="/"><strong>Podcaster</strong></a>
        <template is="dom-if" if="{{loading}}">
          <img src="../../images/loading.gif">
        </template>
      </h2>

      <hr>
    </header>

    <iron-pages role="main" selected="[[page]]" attr-for-selected="name" selected-attribute="visible" fallback-selection="404">
      <!--Home view-->
      <main-view name="home" loading="{{loading}}"></main-view>

      <!--Podcast view-->
      <podcast-details name="podcast" route="{{subroute}}" loading="{{loading}}"></podcast-details>

    </iron-pages>

  </template>

  <script>
    Polymer({

      is: 'podcast-inditex-app',
      observers: [
        '_routePageChanged(routeData.page)'
      ],
      properties: {
        page: {
          type: String,
          reflectToAttribute: true
        },
        loading: {
          type: Boolean
        }
      },

      _routePageChanged: function (page) {
        this.page = page || 'home';
      }

    });
  </script>
</dom-module>